<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--
        <bean id="order" class="com.klu.model.ProductOrder">
          <constructor-arg value="101"></constructor-arg>
          <constructor-arg value="Amar"></constructor-arg>
          <property name="productName" value="Pinaka"></property>
          <property name="quantity" value="7"></property>
        </bean>
        -->
        <bean id="order" class="com.klu.model.ProductOrder">
          <constructor-arg value="102"></constructor-arg>
          <constructor-arg value="Vikrant"></constructor-arg>
          <property name="productName" value="Agni"></property>
          <property name="quantity" value="8"></property>
        </bean>
        
        
</beans>